<div class="row " id="evenement">
    <div class="col navMenu">
        <h2 class="text-center " style="color: orange;">~ Our Evenement ~</h2>
    </div>
</div>

<div class="container">
    
     <div class="row bg-light" >
         <div class="col-md-6">
             <h3>IOT challenge</h3>
             <p>Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Italian culinary experience.</p>
             <h5>A Unique Experience</h5>
             <p>Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Italian culinary experience.</p>
         </div>
         <div class="col-md-6" data-aos="fade-up">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://scontent.ftun5-1.fna.fbcdn.net/v/t1.6435-9/88291692_1430170083828740_1095835183015264256_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=e3f864&_nc_ohc=OKumRXvoI7wAX8FXlbN&_nc_ht=scontent.ftun5-1.fna&oh=367332a2ea84640c6c5b0f01e3d8fd0f&oe=60BE008F"
                     class="d-block w-100 iot" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.ftun6-1.fna.fbcdn.net/v/t1.6435-9/53310336_1145507988961619_1119615712558579712_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=Aqgjt2-owvUAX9-XOdc&_nc_ht=scontent.ftun6-1.fna&oh=ebed2bca7c7112af421f152dadfd4e3c&oe=60BDAF10"
                     class="d-block w-100 iot" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.ftun5-1.fna.fbcdn.net/v/t1.6435-9/53722951_1145508395628245_2864421270043230208_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=l-MrmU_fkx4AX_0bapD&_nc_ht=scontent.ftun5-1.fna&oh=1430684a06dcc585861918240469d5ec&oe=60BF25D6"
                     class="d-block w-100 iot" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.6435-9/53302326_1145509295628155_6024917755608694784_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=v_cZd2OQC6UAX-rhkZS&_nc_ht=scontent.ftun11-1.fna&oh=f3acaa8d43978fafee27b3109d63bb3d&oe=60BE9216"
                     class="d-block w-100 iot" alt="...">
                  </div>
                </div>
              </div>
         </div>
     </div>
     <div class="row bg-light"><br></div>
     <div class="row bg-light">
         <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://scontent.ftun6-1.fna.fbcdn.net/v/t31.18172-8/s720x720/15167713_1052687961507386_8585670557424027661_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=825194&_nc_ohc=P8-U3u7i4-cAX_OP6ZL&_nc_ht=scontent.ftun6-1.fna&tp=7&oh=283fe54b34588c2730db65faae1a8ea3&oe=60BD89E8"
                     class="d-block w-100 nuit-info" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/1.PNG" class="d-block w-100 nuit-info" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/2.PNG" class="d-block w-100 nuit-info" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/3.PNG" class="d-block w-100 nuit-info" alt="...">
                  </div>
                </div>
              </div>
         </div>
         <div class="col-md-6 order-md-12 order-1">
             <h3>Nuit de l'Info</h3>
             <p>Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Italian culinary experience.</p>
             <h5>A Unique Experience</h5>
             <p>Thanks for stopping by. We are the last authentic Italian restaurant in Milan, serving delicious Italian cuisine cooked by the best chefs. It only takes a few minutes to browse through our website and check out our menu. We hope you'll soon join us for a superb Italian culinary experience.</p>
         </div>
     </div>
     <!--- End of Restaurant -->